@model IEnumerable<Prenada>

@{
    ViewData["Title"]="Listado de Preñadas";
}

<body>
   <div class="col-md-6 col-sm-3"><h3><label>LISTADO DE PREÑADAS</label></h3></div>
    <div class="row">
        <table style="width:80%"></table>
        <td>
        <div class="col-md-6">
            @if(User.Identity.IsAuthenticated){
                 <a asp-action="RegistrarPrenada" asp-controller="Hembra" class="btn btn-secondary"> Registrar Preñada</a>
            }
           
        </div>
        </td>
        <td>
        <div class="col-md-6 d-flex justify-content-center">
            <a asp-action="ListaPrenada" class="btn btn-primary">
                Preñadas
            </a>
            <a asp-action="ListaLunada" class="btn btn-success">
                Lunadas
            </a>
        </div>
        </td>
        
       </table> 
    </div>
    <br>
        <hr />
    <div class="row">
        @foreach (var i in Model)
        {
             <div class="col-md-3 border border-info">
                 <p>Nombre: 
                    @Html.DisplayFor(modelItem=>i.Perro.Nombre)
                </p>
                <p>Cantidad de inseminadas: @Html.DisplayFor(modelItem=>i.CantidadInseminadas)</p>
                <p>Fecha de inicio: @Html.DisplayFor(modelItem=>i.FechaInicio,"{0:dd/MM/yyyy}")</p>
                <p>Fecha final: @Html.DisplayFor(modelItem=>i.FechaFin,"{0:dd/MM/yyyy}")</p>
                <p>Tipo de parto: @Html.DisplayFor(modelItem=>i.TipoParto)</p>
                @if(i.TipoParto.Equals("Normal")){
                    <p>Fecha de parto: @Html.DisplayFor(modelItem=>i.FechaPartoNormal) </p>
                }
                else if(i.TipoParto.Equals("Cesarea")){
                    <p>Fecha de parto: @Html.DisplayFor(modelItem=>i.FechaCesaria) </p>
                }else{
                    <p>Sin fecha</p>
                }
                <p>Numero de camadas: @Html.DisplayFor(modelItem=>i.NumeroCamadas)</p>
            </div>
            
        }

        
           
        </div>

</body>
