@model IEnumerable<LKBHistorial.Models.Perro>

@{
    ViewData["Title"]="Listado de Perros";
}

    <body>
        
        <div class="row">
            <table style="width:100%">
           
            <div class="col-md-12 col-sm-4"><h3><label>LISTADO DE PERROS REGISTRADOS</label></h3>
                <br>
              <td>
                <form asp-action="ListaPerros"  asp-controller="Perro" style="font-size:15px; height:24px">
                    <input type="text" name="nombre" placeholder="Buscar por nombre">
                    <select asp-items="ViewBag.Razas" name="raza" style="font-size:15px; height:25px">
                        <option value="">Selecciona tipo</option>
                    </select>
                    <input type="submit" value="Buscar">
                </form>
                
            </div>
            </td>
            <th >
            <div class="col-md-12 col-sm-4">
                
                    <form asp-action="ListaPerros"  asp-controller="Perro">
                    
                        <input type="submit" value="Eliminar Filtro" class="btn btn-secondary">
                    </form>
                   
            </div>
            </th>
            
            <th>
            <div class="col-md-12 col-sm-4">
                @if(User.Identity.IsAuthenticated){
                     <a asp-action="RegistrarPerro" asp-controller="Perro" class="btn btn-default">Registrar Perro</a>
                }     
            </div>
            </th>
            </table style="width:100%">
        </div>
        <br>
        <hr />

        <div class="row">
            @foreach (var i in Model)
            {
            
                <div class="col-md-3 border border-secondary">
                    <br>
                
                    <table style="width:100%" >
                    @if (User.Identity.IsAuthenticated)
                    {
                        <tr> 
                        <th>Microchip</th>     
                        <td><p> @Html.DisplayFor(modelItem=>i.Id) </p>
                        </td>
                        </tr>
                    } 
                    <tr> 
                    <th>Nombre</th>     
                    <td><p> @Html.DisplayFor(modelItem=>i.Nombre) </p>
                    </td>
                    </tr>
                    <tr>
                    <th>Criadero</th>     
                    <td><p> @Html.DisplayFor(modelItem=>i.Criadero.Nombre)</p>
                    </td>
                    </tr>
                    <tr>
                    <th>Tipo</th>
                    <td><p>@Html.DisplayFor(modelItem=>i.RazaPerro.Raza)</p>
                    </td>
                    </tr>
                     <tr>
                    <th>Fecha</th>
                    <td><p>@Html.DisplayFor(modelItem=>i.FechaNacimiento)</p>
                    </td>
                    </tr>
                   
             </table>       
             <table style="width:100%"> 
                 @if(User.Identity.IsAuthenticated){
                     <th><a asp-action="EliminarPerro" asp-controller="Perro" asp-route-id="@i.Id" class="btn btn-warning btn-sm">Eliminar</a><br></th>
                <td><a asp-action="ModificarPerro" asp-controller="Perro" asp-route-id="@i.Id" class="btn btn-light btn-sm">Modificar</a><br></td>
                 }     
                <td><a asp-action="Arbol" asp-controller="Perro" asp-route-id="@i.Id" class="btn btn-secondary btn-sm">Mostrar Arbol</a><br></td>
            </table>
                <br>
                </div>
            
                
            }
            <br>
        </div>
       
        <div class="row">
           
        </div>
    </body>


