@model IEnumerable<LKBHistorial.Models.Perro>

@{
    ViewData["Title"]="Listado de Perros";
}

    <body>
        <div class="row">
            <div class="col-md-12">
                <form asp-action="ListaPerros">
                    <input type="text" name="nombre" placeholder="Buscar por nombre">

                </form>
            </div>
        </div>
        <div class="row">
            @foreach (var i in Model)
            {
                <div class="col-md-3">
                    <p>@Html.DisplayFor(modelItem=>i.Nombre)</p>
                    <h4>
                        @if(i.Sexo=="M"){
                            @Html.Display("Macho")
                        }else{
                            @Html.Display("Hembra")
                        }
                    </h4>
                    <p>@Html.DisplayFor(modelItem=>i.RazaPerro.Raza)
                    </p>
                    <p>@Html.DisplayFor(modelItem=>i.Criadero.Nombre)
                    </p>
                   
                <a asp-action="EliminarPerro" asp-controller="Perro" asp-route-id="@i.Id">Eliminar</a>
                <a asp-action="ModificarPerro" asp-controller="Perro" asp-route-id="@i.Id">Modificar</a>

                </div>

                
            }
        </div>

    </body>


