@model IEnumerable<LKBHistorial.Models.Perro>

@{
    ViewData["Title"]="Listado de Perros";
}

    <body>
        <div class="row">
            @foreach (var i in Model)
            {
                <div class="col-md-3">
                    <p>@Html.DisplayFor(modelItem=>i.Nombre)</p>
                    <h4>
                        @if(i.Sexo=="M"){
                            @Html.Display("Macho")
                        }else{
                            @Html.Display("Hembra")
                        }

                    </h4>
                   
                <a asp-action="EliminarPerro" asp-controller="Perro" asp-route-id="@i.Id">Eliminar</a>
                <a asp-action="ModificarPerro" asp-controller="Perro" asp-route-id="@i.Id">Modificar</a>

                </div>

                
            }
        </div>

    </body>


